[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name

[req_distinguished_name]
CN = ext_authz-opa-service

[req_ext]
subjectAltName = @alt_names

[v3_req]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = ext_authz-opa-service
IP.1 = 127.0.0.1
URI.1 = spiffe://example.com/ext_authz-opa-service
